$priColor: #1F2641;
$secColor: #2E3267;
$treColor: hsl(0, 0%, 100%);
$forColor: #737FEB;
$fivColor: #F75842;
$sixColor: #00BF8E;
$colorOne: #015094;
$colorOne1:#13488B;
$colorTwo: #701F62;
$colorTwo1: #701f6257;