* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.main {
    color: $priColor;
    background: radial-gradient(circle at 32% 90%, $colorOne,$colorTwo);
}

.cabecalho {
    background: $colorTwo1;
}
.cabecalho div .logo p a{
    text-decoration: none;
    color: #150714;
}
.logo p *{
    font-size: 30px;

    &:hover {
        color: $priColor;
    }
}
.img-container {
    border-radius: 100px;
    overflow: hidden;
}

.introduce {
    overflow: hidden;
}

.name {
    color: $treColor;
    font-weight: 700;
}

.work {
    font-size: 20px;
    color: $treColor;
}
.describe {
    color: $treColor;
    text-align: justify;
}

.goLinkedin a{
    border-color: $treColor;
    color: $priColor;

    &:hover {
        border-color: $priColor;
        color: $treColor;
        background-color: $priColor;
    }
}
.function {
    color: $priColor;
    position: relative;
}

.function::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border-left: 2px solid $colorTwo;
    background: linear-gradient(to right, #3F3478, #3F3478);
    animation: typing 4s steps(20) infinite;
}

@keyframes typing {
    0% {
        color: $treColor;
    }
    40%, 60% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}

.service {
    font-size: 30px;
    font-weight: 700;

    span{
        color: $treColor;
        border-bottom: 4px solid $priColor;
    }
}
.icon *{
    font-size: 20px;
    color: $priColor
}
.aside-academia {
    color: #150714;
}
.service-description {
    color: $treColor;
}
.forColumn {
    font-size: 15px;
    color: $treColor;
}
 .strong {
    font-size: 14px;
}
.oneArticle, .twoArticle {
    margin-bottom: 20px;
}

.habilidades .images img {
    max-width: 60px;
}

.habilidades .images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 15px;
}

.rodape div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $treColor;
}